# Byte-compiled / optimized files
__pycache__/
*.py[cod]
CASTS.egg-info/*

# Environment variables
.env

# Virtual environment
.venv/
uv.lock

# Logs
/logs/

# IDE / OS specific
.vscode/
.DS_Store

# Data files
data/real_graph_data/
casts_traversal_path_req_*.png
